@use "sass:math";
// 色

// background
$bg-base: #FFFFFF;
$bg-light: #ECEFF4;
$bg-dark: #2D3440;
$bg-button:#4C566A;
$bg-button-hover:#2E3440;
$bg-icon:#D8DEE9;


// icon
$icon:#5E81AC;
$icon-light:#ECEFF4;

// font
$font-light:#ECEFF4;
$font-base:#4C566A;

// logo
$ogo:#4C566A;
